

.container-cards-eventos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 5%;
}

.info-eventos{
    text-align: center;
    border-radius: 3px;
    background-color: #f0fdff;
    
}

.footer-card-evento{
    width: 110px;
}

.card-evento {
    border-left: 2px solid #52868f38;
    border-top-left-radius: 5px;
    border-right: 2px solid #52868f38;
    border-bottom-right-radius: 5px;
    display: flex;
    font-weight: 300;
    font-size: medium;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #126b8111;
    padding: 2rem;
    gap: 1rem;
}

/* .card-evento:hover {
    scale: 1.1;
    margin-right: 0.7rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.36);
} */

#campoDeBusca{
    background-image: url('../assets/search.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.container-table td{
    max-width: 15vh;
    word-wrap: break-word;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.botao-add{
    border-radius: 2px;
    text-align: center;
    background-color: #f0fdff;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    border: 1px solid #ddd;
}

.dropdown-content label {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-content label:hover {
    filter: brightness(1.3);
}

.dropdown-btn {
    display: inline-block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-btn:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.pagination{
    text-align: center;
    margin-top: 2%;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: solid 2px #9ebdcf;
    border-collapse: separate;
    border-radius: 2px;
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.active) {
    filter: brightness(1.3);
}

.btn-primary {
    align-items: center;
    color: white;
    background-color: #124D81;
    width: 110px;
    height: 40px;
    /* border-radius: 5px; */
    border: 1px solid #c7c7c7;
}

.btn-secondary {
    width: 110px;
    height: 40px;
    align-self: center;
    background-color: #fff;
    color: black;
    border: 1px solid #c7c7c7;
}

.row{
    min-width: 50px;
    min-height: 15px;
    text-align: center;
    color: black;
    border-radius: 10px;
}

.inputEvento{
    text-align: center;
    height: 3vh;
    border: 2px solid black;
    border-radius: 10px;
    background: #cfe9ff;
    
}

.modal-content td{
    max-width: 22em;
    word-break: keep-all;
}


.hideColumn{
    display: none;
}

.conselheirosAdicionados{
    min-width: 150px;
}

.removerBtn{
    display: flex; 
    word-break:keep-all; 
    justify-content: center; 
    min-width: 50px
}