@import url("./principal.css");

/* cabecalho */



.menuLateral{
  background: #fff;
  position: absolute;
  margin-top: -90px;
  height: 100%;
  overflow: hidden;
  width: 220px;
}

.focusContent{
  background: #fff;
  position: relative;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 253px;
  padding: 2%;
  width: 83%;
  min-width: 10vw;
  max-height: 83vw;
  min-height: 15vh;
  border-radius: 3px;
}

.lineContent{
  border: 1px rgba(0, 0, 0, 0.123) solid;
  padding: 0px;
  min-height: 42vh;
  max-height: 75vh;
  border-radius: 3px;
}

.cabecalho{
  min-width: 100%;
  height: 88px;
  background: #124d81;
  z-index: 99;
  position: relative;
}

.bege{
  width: 240px;
  height: 130px;
  background: #cfcece;
}

.logocfc{
  position: absolute;
  margin: 0 0 0 0;
  background-color: #E7E7E7;
  width: 220px;
}

.tipoperfil{
  font-size: small;
  position: absolute;
  color: white;
  padding-top: 28px;
  padding-left: 280px ;
}

.logout{
  margin-top: 30px;
  font-size: large;
  position: absolute;
  float: right;  
  margin-left: 90%;
}

#linksair{
  margin-top: -10px;
  text-decoration: none;
  font-weight: 500;
  color: white;
}

#linksair:hover{
  text-decoration: underline;
  font-weight: 500;
  color: #ececec;
  text-shadow: #fafafa52 1px 2px;
}

/* Bem vindo Home */
.bghome{
  position: relative;
  background: center;
  bottom: 0;
  max-width: 70%;
  z-index: 2;
}

.bemvindo{
  position: absolute;
  font-size: 3vw;
  top: 30%;
  left: 30%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 0;
  text-align: center;
  z-index: 9;
  color: #124d81;
  text-shadow: rgb(0, 0, 0) 1px 1px;
}

/* Conteudo das paginas */

/* Style the buttons that are used to open the tab content */

.tab {
  position: absolute;
  padding-top: 90px;
  width: 221px;
  /* background: #ffffff; */
  /* z-index: 99; */
  /* border-radius: 90px; */
}

.tabdegrad{
  margin-left: 219px;
  position: fixed;
  height: 100%;
  width: 10px;
  background-image: linear-gradient(90deg,#f0f0f0, #8f8f8f4f);
}

.tab button {
  position: relative;
  font-size: 15px;
  width: 100%;
  height: 90px;
  float: left;
  border: none;
  outline: none;
  color: black;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem;
  transition: 0.3s;
  /* padding-top: 50px;
  padding-bottom: 50px; */
}

/* Change background color of buttons on hover */
.tab button:hover {
  filter: brightness(1.3);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #b78c1c;
  color: white;
}

/* container - Legenda: Registrar evento */
.container legend{
  font-family: Futara;
  font-size: x-large;
  margin: 0 10px 0 10px;
}

.container-page-principal{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the tab content */
.tabcontent {
  margin: 0;
  display: none;
  padding: 6px 12px;
  border-top: none;
  height: 100%;
  background: #fff;
}

#container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: Futara;
  font-size: large;
}

#form-cadastro {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.tableOverflow{
  overflow-y: scroll;
}

.container-table {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

table {
  background: #cccccc;
  border-collapse: collapse;
  margin-bottom: 10px;
  font-size: small;
}

.tbheader{
  background: #1C5769;
  color: white;
  
}



td,
th {
  border: 1px solid #F4F4F4;
  padding: 8px;
  font-weight: 400;
  text-align: center;
  max-width: 20vh;
  border-bottom: rgb(177, 177, 177) 2px solid;
  border-left: rgb(177, 177, 177)  2px solid;
  border-right: rgb(177, 177, 177)  2px solid;
}

th, thead{
  background: #124D81;
  color: white;
}

tr:nth-child(even) {
  background-color: #FFFFFF; /* Cor de fundo para linhas pares */
  /* --bg-button-secondary: #0E3E67; */
}

tr:nth-child(odd) td {
  background-color: #ebeaea; /* Cor de fundo para linhas ímpares */
  min-width: 130px;
}

.container-table-fila-de-espera{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* #tabela-de-fila-de-espera{
} */
/* Caixas Registrar evento */

#nomeDosconselheiro{
  border-radius: 5px;
  background-color: #d9edff94;
  width: 30%;
  text-align: center;
}

#nomeevento{
  border-radius: 5px;
  background-color: #d9edff94;
  width: 30%;
  text-align: center;
}

#tipodereuniao{
  border-radius: 5px;
  background-color: #d9edff94;
  width: 50%;
  text-align: center;
}

#condicionates{
  border-radius: 5px;
  background-color: #d9edff94;
  width: 25%;
  text-align: center;
}

#data{
  border-radius: 5px;
  background-color: #d9edff94;
  width: 8%;
  text-align: center;
}

#pontos{
  border-radius: 5px;
  background-color: #d9edff94;
  width: 5%;
}

.buton{
  border-radius: 5px;
  background-color: #d9edff94;
}

.buton:hover{
  filter: brightness(1.3);
}

.buton:active{
  background-color: #0088ff94;
}

/* tela cadastrar evento */

.cadevento{
  margin-top: 70px;
  font-family: Futara;
  font-size: large;
  text-align: center;
}

.caixacadevento{
  align-items: center;
  border-radius: 5px;
  background-color: #d9edff94;
  width: 40%;
  text-align: center;
  margin-bottom: 20px;
}


/* tela infomações */

.informacoes{
  margin-top: 70px;
  font-family: Futara;
  font-size: large;
  text-align: center;
}

.informacoes textarea{
  font-family: Futara;
  font-size: large;
  text-align: center;
} 

.infocaixas{
  background-color: #d9edff94;
  margin-bottom: 40px;
  min-width: 200px;
  min-height: 20px;
  max-width: 400px;
  max-height: 100px;
}

h1{
  margin-bottom: 0;
  margin-top: 0;
}

/* tela opcoes */

::-webkit-scrollbar {
  width: 10px;
  background: #ddf0f1;
}

::-webkit-scrollbar-thumb {
  background: #124d81;
}
